html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #fff;
  font-style: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 35px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  opacity: 0.5;
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.subheader .subheader_call {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  border-radius: 4px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  background: url('/src/img/bg/uber_bg.png') center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo .promo_subheader {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo .promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  border-radius: 4px;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages {
  margin: 20px auto -60px auto;
  min-height: 850px;
}

.advantages .advantages_title {
  margin: 0;
  margin-top: 35px;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #222;
}

.advantages .advantages_descr {
  display: flex;
  width: 115px;
  height: 27px;
  background-color: #000;
  margin: 0 auto;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.advantages .advantages_reasons {
  display: flex;
  min-height: 150px;
}

.advantages .advantages_background_img {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1eacc7;
}

.advantages .advantages_text {
  margin: 0;
  margin-left: 25px;
  width: 350px;
  min-height: 150px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

span {
  color: #1eacc7;
  font-size: 17px;
}

.advantages .advantages_img_1 {
  width: 80px;
  height: 66px;
}

.advantages .advantages_img_2 {
  width: 64px;
  height: 69px;
}

.advantages .advantages_img_3 {
  width: 83px;
  height: 53px;
}

.advantages .advantages_img_4 {
  width: 79px;
  height: 73px;
}

.advantages .advantages_img_5 {
  width: 54px;
  height: 78px;
}

.advantages .advantages_img_6 {
  width: 63px;
  height: 67px;
}

.advantages .advantages_img_7 {
  width: 85px;
  height: 66px;
}

.advantages .advantages_img_8 {
  width: 73px;
  height: 66px;
}
